{% extends 'theme.html' %}

{% block main %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="list-group border shadow text-center">
                    <a href="/" class="mb-2">
                        <button class="btn btn-outline-dark" style="width:12rem ;">
                            All Products
                        </button>
                    </a>
                    {% for j in categories %}
                    <a href="/?category={{j.id}}" class="mb-2">
                        <button class="btn btn-outline-dark" style="width:12rem ;">
                            {{j.name}}
                        </button>
                    </a>
                    {% endfor %}

                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    {% for i in products %}
                    <div class="col-lg-4">
                        <div class="card mb-5 shadow" style="width: 17rem;height: 35rem">
                            <div class="card-header">
                                <img src="{{i.image.url}}" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h5>{{i.name}}</h5>
                                <h5>{{i.price}}</h5>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-dark">Book Now</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}